{% extends 'base.html' %} 

{% block content %}
<h1>Add Review</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Review"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'get_reviews' %}",
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var review = data[i];
                    var card = `
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <h5 class="card-title">${review.title}</h5>
                                <p class="card-text">${review.review}</p>
                            </div>
                        </div>`;
                    $('#review-container').append(card);
                }
            }
        });
    });
</script>
