{% extends 'base.html' %} 

{% block content %}
<head>
    <style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .container {
        flex: 1;
    }
    
    footer {
        width: 100%;
        background: #3E4C5E;
        color: white;
        text-align: center;
        padding: 10px 0;
    }

    nav {
        width: 100%;
        background: #00c4ff;
    }   

    </style>
</head>
<body>
    <h1>Book Review</h1>
    <div class = "container">
        <div class = "row g-3">
            {% if reviews|length > 0 %}
                {% for review in reviews %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">{{ review.review }}</p>
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'create_review' %}">
                    <button type="button" class="btn btn-primary btn-lg">Add review</button>
                </a>
            {% else %}
                <div class="text-center">
                    <h3>No book has been reviewed yet</h3>
                    <a href="{% url 'create_review' %}">
                        <button type="button" class="btn btn-primary btn-lg">Add review</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}
